<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="static/css/styles.css"
      media="screen"
    />
    <title>Movie Recommender System</title>
  </head>

  <body>
    <main>
      <h1>{{ title }}</h1>

      <p>
        Please rate the following movies on a scale from 1 (worst) to 5 (best):
      </p>

      <form action="/recommender">
        <div class="wrapper">
          <div class="card">

            <label for="movie0">{{ movie0 }}</label>
            <br>
            <input
              type="range"
              min="1"
              max="5"
              value="1"
              class="slider"
              name="movie0"
            />
          </div>

          <div class="card">
            <label for="movie1">{{ movie1 }}</label>
            <br>
            <input
              type="range"
              min="1"
              max="5"
              value="1"
              class="slider"
              name="movie1"
            />
          </div>

          <div class="card">
            <label for="movie2">{{ movie2 }}</label>
            <br>
            <input
              type="range"
              min="1"
              max="5"
              value="1"
              class="slider"
              name="movie2"
            />
          </div>

          <div class="card">
            <label for="movie3">{{ movie3 }}</label>
            <br>
            <input
              type="range"
              min="1"
              max="5"
              value="1"
              class="slider"
              name="movie3"
            />
          </div>

          <div class="card">
            <label for="movie4">{{ movie4 }}</label>
            <br>
            <input
              type="range"
              min="1"
              max="5"
              value="1"
              class="slider"
              name="movie4"
            />
          </div>

          <div class="card">
            <label for="movie5">{{ movie5 }}</label>
            <br>
            <input
              type="range"
              min="1"
              max="5"
              value="1"
              class="slider"
              name="movie5"
            />
          </div>

          <div class="card">
            <label for="movie6">{{ movie6 }}</label>
            <br>
            <input
              type="range"
              min="1"
              max="5"
              value="1"
              class="slider"
              name="movie6"
            />
          </div>

          <div class="card">
            <label for="movie7">{{ movie7 }}</label>
            <br>
            <input
              type="range"
              min="1"
              max="5"
              value="1"
              class="slider"
              name="movie7"
            />
          </div>

          <div class="card">
            <label for="movie8">{{ movie8 }}</label>
            <br>
            <input
              type="range"
              min="1"
              max="5"
              value="1"
              class="slider"
              name="movie8"
            />
          </div>

          <div class="card">
            <label for="movie9">{{ movie9 }}</label>
            <br>
            <input
              type="range"
              min="1"
              max="5"
              value="1"
              class="slider"
              name="movie9"
            />
          </div>
        </div>
        <br>
        
        <input type="submit" value="Recommend me new movies!"/>
      </form>
    </main>
  </body>
</html>
