/* COLOR PALETTE
#000000
#00c9c8
#bffcf9
#47817f
*/

body {
  /*background-image: radial-gradient(circle, #f4f4f9, #dde5f5, #bdd8f0, #96cde6, #69c2d6, #51b1c6, #34a0b7, #008fa8, #007499, #005888, #003d72, #002359);*/
  background-image: radial-gradient(circle, #b5c2c2, #a1abad, #8e9498, #7c7e81, #69696b, #5d5d5e, #515151, #454545, #3d3d3d, #363636, #2e2e2e, #272727);
  display: flex;
  justify-content: center;
}

main {
  max-width: 1500px;
  width: calc(100% - 1rem);
  padding: 3rem;
  text-align: center;
}

main > * {
  margin-bottom: 3rem;
}

.wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.wrapper.--horizontal {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
}

.card {
  background-color: white;
  padding: 1rem;
  border: 1px solid #ccc;
  grid-auto-flow: column;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  display: grid;
  gap: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.--horizontal .card {
  grid-template-rows: 1fr;
  grid-template-columns: 250px 2fr 1fr;
}

.description {
  display: grid;
}

.decades {
  align-content: initial;
  text-align: left;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
}

img {
  background-color: #ccc;
  width: 100%;
  height: auto;
}

h1 {
  color: #F8DD00;
  align-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 40px;
}

h2 {
  color: white;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
}

/* buttons */
input[type=submit] {
  background-color:  #F8DD00;
  color: #454545;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 10px 10px;
  border-radius: 10px;
  border: 2px solid  #454545;
  margin-top: 1rem;
}

input[type=submit]:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border: 2px solid #F8DD00;
  background-color: #454545;
  color: #F8DD00;
}

input[type=radio] {
  color: white;
  font: 25px;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* navigation bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}